:root {
    --namecolor: black;
}

h2 {
    padding: 30px;
    color:darkblue;
}

.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: black;
    height: 80px;
}

.navbar li {
    text-align: center;
    border-bottom: 10x;
    border-color: aqua;
    color:aqua;
    display:block;
    padding: 5px;
    margin: 10px;
    float: right;
}

 
.navbar li a {
    display: block;
    text-decoration: none;
    color: aqua;
    border-bottom: 5px solid yellow;
  }

  
  .navbar li a:hover {
    color: yellow;
  }


  .name {
    float: left;
    color: var(--namecolor);
    background-color: aqua;
    padding: 10px;
    margin: 10px;
    width: 30%;
    vertical-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  }



  .coolimage {
    height: 150px;
    width: 100%;
    background-image: url(../images/technology-background-1632715.jpg);
    color: white;
    font-size: 20px;
  }

  .coolimage h2 {
    float: right;
    margin-top: 80px;
    color: white;
  }

  .lefthandnav{
    display: inline;
    width: 20%;
    float: left;
    padding-left: 20px;
    font-size: 35px;
    /* border: 5px solid red; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

  .lefthandnav h2{
    height: 300px;
    color: darkblue;
    border-right: 5px solid darkblue;
    margin: 20px;
  }

  .main {
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 20px;

  }

  .about{
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px;
    /* border: 3px solid green; */
  }

  

  .contactinfo{
    display: flex;
    flex-direction: row;
    font: 30px;
    color:blue;
    height: 500px;
    /* border: 3px solid green; */
  }


  .pic {
    /*border: 5px solid black; */
    padding-bottom: 0px;
    height: 100%;
  }
  .bio {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    /* background-color: black; */
    /*border: 5px solid red;*/
    width: 100%;
    padding-left: 10px;
    padding-top: 0px;
    font-size: 25px;
    vertical-align: top;
  }

#mainsamplelink{
    display:block;
    margin: 0px auto;
    padding: 0px 15px 0px 15px;
    border: none;
    background: url(../images/worksamplemain.png) no-repeat bottom;  
    height: 100%;
    width: 100%;
    color: white;
    text-decoration: none;
    text-align:left;
    font-size: 50px;
    background-color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#mainsamplelink:hover{
    border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 5px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 5px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.mainsample { grid-area: main; height: 300px; border: 2px solid yellow;}
.sample1 { grid-area: sample1; height: 200px; border: 2px solid yellow ;background-image: url(../images/technology-background-1632715.jpg)}
.sample2 { grid-area: sample2; height: 200px; border: 2px solid yellow ;background-image: url(../images/technology-background-1632715.jpg)}
.sample3 { grid-area: sample3; height: 200px; border: 2px solid yellow ;background-image: url(../images/technology-background-1632715.jpg)}
.sample4 { grid-area: sample4; height: 200px; border: 2px solid yellow ;background-image: url(../images/technology-background-1632715.jpg)}

.worksample {
    display: grid;
    grid-template-areas:
      'main main'
      'sample1 sample2'
      'sample3 sample4';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    font: 30px;
  }

  .worksample2{
    font: 30px;
    height: 340px;
     border: 3px solid green; 
     display: grid;
     grid-template-rows: ;
  }